@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
- native CSS
- SCSS/Saas
- inline styling
- libraries - material UI, chakra UI, base UI, ant UI
- styled components

- tailwind css 
  - flexible
  - less bundle size(minimal CSS)
  - can write CSS on the go
  - reusable
*/

/* .header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
}
.card {
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;

  word-wrap: break-word;
}
.card > img { 
  width: 100%;
  height: 25vh;
}
.restaurants-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px;
}

.restaurant-img {
  width: 200px;
  height: 25vh;
} */
